[submodule "306 - IT-Kleinprojekt abwickeln/ActiveSambaGenerator"]
	path = 306 - IT-Kleinprojekt abwickeln/ActiveSambaGenerator
	url = https://github.com/Tyderion/Samba4-Active-Directory-Schul-Projekt
