body {
	margin-top: 5px;
  margin-left: 8px;
  color: black;
  background-color: white;

}

table {
  border-spacing:0;
  border: 1px solid black;
  width: 578px;
}

tr {
  text-align: left;
  border-bottom: 1px solid black;
}
.angabe {
  float: left;
  clear: both;
  width: 100px;
}

.selection {
  padding: 10px;
}
.frage {
  text-align: left;
}

td:first-child {
  border-right: 1px solid black;
}

td {
   text-align: center;
    font-size: 11px;
    line-height: 15px;
    font-family: Verdana;
    border-bottom: 1px solid black;
}
tr:last-child > td {
  border-bottom: none;
}

.headerrow {
	background-color: #d3cfc2;
}
.headerrow > td {
  border-bottom: 1px solid black;
}
.evenrow {
	background-color: #ffffff;
}
.oddrow {
	background-color: #cccccc;
}
