table {
  margin-left: auto;
  margin-right: auto;
}
.button {
  width:60px;
  text-align:center;
  font-family:System,sans-serif;
  font-size:100%;
}
.display {
  width: 265px;
  text-align:right;
  font-family:System,sans-serif;
  font-size:100%;
  margin-left: 2px;
  margin-top: 5px;
  color: black;
}
.date {
  width:265px;
  text-align:right;
  font-family:System,sans-serif;
  font-size:100%;
  float: right;
  padding-right: 2px;
  margin-top: 5px;
  margin-right: 2px;
  color: black;
  background: white;
}
.visit {
  width:70px;
  text-align:right;
  font-family:System,sans-serif;
  font-size:100%;
  float: right;
  margin-top: 5px;
  margin-left: 1px;
  padding-right: 5px;
  margin-right: 5px;
  color: black;
  background: white;
}
#submit, #reset {
  height: 200%;
}
#submit > input, #reset > input {
  height: 50px;
}
input {
  border: 1px gray solid;
}
label {
  float: left;
  padding: 5px;
}
